HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mvn
log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/ m
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
product/src/main/.DS_Store
purchaser/src/main/resources/.DS_Store
*/src/test/
.DS_Store
